body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6 em;
}
h3{
    color: #93bf85
}
p {
    font-size: 14px;
}
.black-border {
    border: 5px solid black;
}
#green-background {
    background-color: green;
}